@import url('https://fonts.googleapis.com/css?family=Audiowide');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
  overflow-x: hidden;
}
section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000000;
}

.span2{
    color: #333;
    font-weight: 300; 
    font-size: 10px;
    text-indent: 0.5px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    position: relative;
    max-width: 80px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: #333;
    font-weight: 600;
    margin-left: 40px;
    text-decoration: none;
}
h2 {
    font-family:  "Audiowide", sans-serif;
}
.content {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .textBox {
    position: relative;
    max-width: 600px;
}

.content .textBox h2 {
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500px;
}

.content .textBox h2 span {
    color: bisque;
    font-size: 1.2em;
    font-weight: 900;
}

.content .textBox p {
    color: #333;
}

.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: bisque;
    color: #000000;
    border-radius: 40px;
    letter-spacing: 1px;
    font-weight: 500;
    text-decoration: none;
}

.learnmore:hover {
    background: #989898;
    color: bisque;
    border: 2px solid bisque;
    transition-duration: 0.6s;
}

.content .imgBox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.content .imgBox img {
    max-width: 340px;
}

.thumbnails {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);
    display: flex;
}

.thumbnails li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumbnails li:hover {
    transform: translateY(-15px)
}

.thumbnails li img {
    max-width: 60px;
}

.social {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: bisque;
    clip-path: circle(600px at right 800px);
}

@media (max-width: 991px) {
    header {
        padding: 20px;
    }

    header .logo {
        max-width: 60px;
    }

    header ul {
        display: none;
    }

    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url('image/art2.png');
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
        z-index: 11;
    }

    .toggle.active {
        position: fixed;
        right: 20px;
        background: url('image/art1.png');
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
    }

    header ul.navigation.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #fff;
        z-index: 10;
    }

    header ul li a {
        font-size: 1.5em;
        margin: 5px 0;
    }

    section {
        padding: 20px 20px 120px;
    }

    .content {
        flex-direction: column;
        margin-top: 100px;
    }

    .content .textBox {
        max-width: 100%;
    }

    .content .textBox h2 {
        font-size: 2.5em;
        margin-bottom: 15px;
    }

    .content .imgBox {
        max-width: 100%;
        justify-content: center;
    }

    .content .imgBox img {
        max-width: 300px;
    }

    .thumbnails li img {
        max-width: 40px;
    }

    .social {
        background: rgb(255, 228, 196);
        right: 0;
        width: 50px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .circle {
        clip-path: circle(400px at center bottom);
    }
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 100px;
}
.myclass { opacity: 0; position: absolute; }
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(160, 134, 103);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: rgb(252, 212, 163);
  transition-duration: 1s;
}
.menu{
    background-color: black;
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 1000px;
    height: 600px;
    padding: 50px;
    background-color: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
}
#slide{
    width:max-content;
    margin-top: 60px;
}
.item{
    width: 200px;
    height: 300px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 0.5s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top:50%;
    transform: translate(0,-50%);
    border-radius: 20px;
    box-shadow:  0 30px 50px #505050;
}
.item:nth-child(1),
.item:nth-child(2){
    left:0;
    top:0;
    transform: translate(0,0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
}
.item:nth-child(3){
    left: 50%;
}
.item:nth-child(4){
    left: calc(50% + 220px);
}
.item:nth-child(5){
    left: calc(50% + 440px);
}
.item:nth-child(n+6){
    left: calc(50% + 660px);
    opacity: 0;
}
.item .content2{
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    padding: 0;
    color:#eee;
    transform: translate(0,-50%);
    display: none;
    font-family: system-ui;
}
.item:nth-child(2) .content2{
    display: block;
    z-index: 11111;
}
.item .name{
    font-size: 40px;
    font-weight: bold;
    opacity: 0;
    animation:showcontent 1s ease-in-out 1 forwards
}
.item .des{
    margin: 20px 0;
    opacity: 0;
    animation:showcontent 1s ease-in-out 0.3s 1 forwards
}
.item button{
    padding: 10px 20px;
    border:none;
    opacity: 0;
    animation:showcontent 1s ease-in-out 0.6s 1 forwards
}
@keyframes showcontent{
    from{
        opacity: 0;
        transform: translate(0,100px);
        filter: blur(33px);
    }to{
        opacity: 1;
        transform: translate(0,0);
        filter: blur(0);
    }
}
.buttons{
    position: absolute;
    bottom: 30px;
    z-index: 222222;
    text-align: center;
    width: 100%;
}
.buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #555;
    transition: 0.5s;
}.buttons button:hover{
    background-color: rgb(252, 212, 163);
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .container {
        width: 320px;
    }
    .item {
        width: 50px;
        height: 100px;
        border-radius: 10px;
    }
    .item:nth-child(3) {
        left: 60%;
    }
    .item:nth-child(4) {
        left: calc(60% + 90px);
    }
    .item:nth-child(5) {
        left: calc(60% + 180px);
    }
    .item:nth-child(n+6) {
        left: calc(60% + 270px);
    }
    .item .content2{
        width: 100px;
        transform: translate(-50%, -50%);
    }
    .item .name{
        font-size: 20px;
    }
    .item .des {
        font-size: 12px;
        margin: 10px 0;
    }
    .item button{
        padding: 5px 10px;
        font-size: 8px;
    }
    .buttons button {
        width: 30px;
        height: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 720px;
    }
    .item {
        width: 150px;
        height: 200px;
        border-radius: 10px;
    }
    .item:nth-child(3) {
        left: 50%;
    }
    .item:nth-child(4) {
        left: calc(50% + 160px);
    }
    .item:nth-child(5) {
        left: calc(50% + 320px);
    }
    .item:nth-child(n+6) {
        left: calc(50% + 480px);
    }
    .item .content2{
        width: 200px;
        transform: translate(0%, -50%);
    }
    .item .name{
        font-size: 30px;
    }
    .item .des {
        font-size: 12px;
        margin: 10px 0;
    }
    .item button{
        padding: 5px 10px;
        font-size: 8px;
    }
    .buttons button {
        width: 40px;
        height: 40px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1140px) {
    .container1 {
        width: 1000px;
    }
}