.text {
  background: #ffffff;
}

.container h2 {
  border-bottom: 3px solid #ff9e01;
  font-weight: 700;
}

.card-cover {
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  transition: 0.3s;
}

.card-cover:hover {
  .d-flex h3 {
    visibility: hidden;
  }
  cursor: pointer;
  background-blend-mode: normal;
}

.gap-2 .events {
  font-weight: 700;
  background-color: #ff9e01;
}

.d-flex h3 {
  color: #e5e5e5;
  font-size: 25px;
}

.gap-2 .events:hover {
  background: #000;
}
